<div class="center hero-unit">
  <h1>Home</h1>

  <h2>
    Welcome to twitz where the tweets are junk and the twits are twits
  </h2>

  <%= link_to "Sign up now!", new_twit_path, class: "btn btn-large btn-primary" %>
</div>